<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Результаты поиска зала</title>
    <link rel="stylesheet" th:href="@{webjars/bootstrap/4.5.2/css/bootstrap.min.css}"/>
    <style>
        body{
            background-color: rgba(154,152,149,0.69);
        }
    </style>
</head>
<body>
<div th:replace="/includes/navbar :: navbar"></div>
<div class="container-xl">
    <table class="table table-striped table-dark" style="padding: 10px; margin: 10px; border-radius: 5px;">
        <thead class="thead">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Название</th>
            <th scope="col">Информация о зале</th>
            <th scope="col">Максимальное кол-во посетителей</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="gym: ${getGym.getGym()}">
            <td th:text="${gym.getId()}" />
            <td th:text="${gym.getGymName()}" />
            <td th:text="${gym.getGymInformation()}" />
            <td th:text="${gym.getGymMaximumUser()}" />
        </tr>
        </tbody>
    </table>
</div>
<script type="text/javascript" th:src="@{webjars/bootstrap/4.5.2/js/bootstrap.min.js}"></script>
</body>
</html>